* {
    inset: 0;
    color: white;
}

body{
    background-color: #191A19 !important;
}
.content{
    margin: auto;
    margin-top: 2%;
    width: 30%;
}

@media only screen and (max-width: 600px) {
    .content{
        margin: auto;
        width: auto;        
    }

    .title, .lines{
        display: block;
        width: 100%;
    }
    .lines{
        margin: 0;
        width: 100%;
        display: block;
    }

    .txt-input {
        width: 20px;
        height: 20px;
    }
    span {
        width: 20px;
        height: 20px;
    }
  }

.title{
    display: flex;
    justify-content: space-between;
}

.lines{
    margin-top: 50px;
}

.line{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

span {
    width: 80px;
    height: 80px;
    border: 1px solid #2d2e2d;
    border-radius: 10px;
    background-color: #343534;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
}

.txt-input {
    width: 80px;
    height: 80px;
    color: #d6d6d6;
    font-size: 42px;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
}

.txt-input:focus{
    caret-color: transparent;
    border-bottom: 5px solid blue;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.valido{
    border-bottom: 5px solid #4E9F3D;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.existe{
    border-bottom: 5px solid #9f853d;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}