* {
    inset: 0;
    color: white;
}

body{
    background-color: #191A19 !important;
}

.container{
    margin-top: 20px;
    width: 30% !important;
}

.lines{
    margin-top: 30px;
}

.line{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

span {
    width: 80px;
    height: 80px;
    border: 1px solid #2d2e2d;
    border-radius: 10px;
    background-color: #343534;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
}

.title{
    display: flex;
    justify-content: space-between;
}

.txt-input {
    width: 80px;
    height: 80px;
    color: #d6d6d6;
    font-size: 42px;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
}

.txt-input:focus{
    caret-color: transparent;
    border-bottom: 5px solid blue;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.valido{
    border-bottom: 5px solid #4E9F3D;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.existe{
    border-bottom: 5px solid #9f853d;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media screen and (max-width: 600px) {
    .container{
        width: 100% !important;
    }

    .txt-input, span{
        width: 50px;
        height: 50px;
    }
}

.show{
    display: flex;
}

.hide{
    display: none;
}

#dvSucesso, #dvFalha{
    justify-content: space-between;
    padding: 0 10px;
}

.alert-success{
    background-color: #4E9F3D !important;
    color: white;
}

.alert-danger{
    background-color: #A13333 !important;
    color: white;
}

.alert{
    border: none !important;
}

